
.main_picture{
  background: #F1F2F6;
  display: flex;
  justify-content: space-between;
  padding: 55px 10% 0 10%;
  position: relative;
  height: fit-content;
  overflow: hidden;
}

.main-picture-img{
  width: 50%;
  z-index: 2;
}

.main-picture-img-second{
  position: absolute;
  right: 13vw;
  width: 15vw;
  top: 60%;
  z-index: 2;
}

.main_picture h1{
  font-size: 52px;
  font-weight: 700;
  z-index: 100;
  position: relative;
}

.main_picture h1 sup{
  position: relative;
  font-size: 20px;
  font-weight: 800;
  margin-left: 10px;
  color: #27AE60;
  vertical-align: 12px;
  z-index: 100;
}

.main-picture-text-desc{
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 30px;
  z-index: 10;
  position: relative;
}

.main-picture-text a{
  z-index: 10;
}

.main-picture-text .go-to-store-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 50px;
  background-color: #27AE60;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.main-picture-text-youtube{
  position: relative;
  margin-left: 45px;
  margin-top: 35px;
}

.main-picture-text-youtube p{
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 600;
}

.main-picture-text-youtube img{
  height: 25px;
  width: 25px;
  position: absolute;
  left: -35px;
  top:5px;
}
.main-picture-text-youtube-name{
  font-weight: 300;
  color: #979797;
}

.big-circle{
  position: absolute;
  width: 45vw;
  height: 45vw;
  border-radius: 50%;
  background: rgba(164, 235, 194, 0.4);
  z-index: 1;
  right: -6%;
  bottom: -70%;
}

.middle-circle{
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: rgba(164, 235, 194, 0.4);
  z-index: 1;
  left: -4%;
  top:0;
}

.small-circle{
  position: absolute;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: rgba(164, 235, 194, 0.4);
  z-index: 1;
  right: 30%;
  top:20px;
}

.download{
  box-sizing: border-box;
  padding: 0 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.apple-store{
  margin-left: 20px;
}

.google-play{
  margin-right: 20px;
}

.download img{
  width: 100%;
}

.about{
  display: flex;
  padding: 90px 10% 0 10%;
}

.about h4{
  margin-bottom: 60px;
  color: #27AE60;
  font-weight: 600;
  font-size: 24px;
}

.about h1{
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 46px;
}

.about img{
  margin-right: 10%;
  width: 50%;
  height: fit-content;
}

.idea{
  margin-top: 150px;
  padding: 0 15%;
}

.idea h1{
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 50px;
}

.idea img{
  width: 100%;
}

.idea-tab{
  cursor: pointer;
}

.idea-tab-wrapper {
  flex-grow: 1;
  min-width: 20%;
}

.idea-tab-wrapper iframe{
  display: none;
}

.idea-tab p{
  margin: 0;
}

.idea-iframe{
  border: 0px;
  width: 100%;
  height: 37vw;
}

.idea-tabs-bottom, .idea-tabs-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.idea-tabs-top{
  margin-bottom: 10px;
  margin-right: -10px;
}

.idea-tabs-bottom{
  margin-bottom: 40px;
}

.idea-tab{
  min-width: 20%;
  flex-grow: 1;
  padding: 15px;
  background: #F1F2F6;
  border: 2px solid #CBCCCF;
  box-sizing: border-box;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.idea-tab-active{
  border: 2px solid #27AE60;
}

.idea-tab-active p{
  font-weight: bold;
}

.feedback{
  margin-top: 150px;
  padding: 100px 10%;
  position: relative;
}

.feedback h1{
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  color: white;
}

.feedback-background{
  position: absolute;
  height: 335px;
  width: 100%;
  background-color: #27AE60;
  top: 0;
  left: 0;
  z-index: -10;
}

.feedback-cards{
  display: flex;
  justify-content: space-between;
}

.feedback-card{
  width: 32%;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
}

.feedback-card img{
  height: 16vw;
  width: 100%;
  margin-bottom: -5px;
  object-fit: cover;
}

.feedback-card-opened{
  display: none;
}

.feedback-card-opened a{
  cursor: pointer;
  margin: 65px 0;
  width: 40%;
  text-align: center;
  padding: 14px 36px;
  color: white;
  background-color: #27AE60;
}

.feedback-card:hover .feedback-card-opened{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CBCCCF;
  height: 100%;
  box-sizing: border-box;
}

.feedback-card:hover .feedback-card-text{
  display: none;
}

.feedback-card-text{
  box-sizing: border-box;
  height: 100%;
  padding: 25px;
  border: 1px solid #CBCCCF;
  display: flex;
  flex-direction: column;
}

.feedback-card-text h5{
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 100.3%;
  color: #222222;
}

.feedback-card-text p{
  margin-top: 16px;
  color: #979797;
}

.feedback-card-text a{
  margin-top: 20px;
  text-align: center;
  padding: 14px 36px;
  background-color: #27AE60;
  border-radius: 4px;
  color: white;
}

.card-wrapper{
  height: 180px;
}


.feedback-arrows{
  margin: auto;
  margin-top: 70px;
  display: flex;
  width: 180px;
  align-items: center;
}

.feedback-arrow{
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
}

.feedback-arrow-disabled{
  cursor: initial;
  color: #222222;
  opacity: 0.4;
}

.point{
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #27AE60;
}

.point-selected{
  width: 10px;
  height: 10px;
  background-color: #27AE60;
}

.news{
  padding: 60px 10%;
}

.news h1{
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
}

.news-cards{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row;
}

.news-card{
  width: 32%;
}

.news-card img{
  width: 100%;
  object-fit: cover;
  height: 15vw;
  margin-bottom: -10px;
}

.news-card-text{
  border: 1px solid #CBCCCF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 24px;
  height: calc(100% - 15vw);
}

.news-card-text p{
  color: #979797;
}

.news-card-text h3{
  margin-bottom: 16px;
}

.news-more-wrapper{
  color: #27AE60;
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.news-more{
  color: #27AE60;
  padding: 14px 40px;
  border: 1px solid #27AE60;
  box-sizing: border-box;
  border-radius: 4px;
}

.contacts{
  padding: 0 10% 90px 10%;
}

.contacts h1{
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
}

.contacts-content{
  display: flex;
  justify-content: space-between;
}

.contacts-content form{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.contacts-content form h3{
  color: #27AE60;
  font-weight: 600;
  font-size: 24px;
}

.contacts-content form p{
  color: #979797;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 40px;
}

.contacts-content form textarea{
  padding: 15px 24px;
  font-size: 20px;
  height: 105px;
  border: 1px solid #CBCCCF;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

.contacts-content form textarea:active, .contacts-content form textarea:focus{
  border: 1px solid #27AE60;
}

.contacts-input{
  padding: 15px 24px;
  font-size: 20px;
  height: 60px;
  border: 1px solid #CBCCCF;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
}

.contacts-input:active, .contacts-input:focus{
  border: 1px solid #27AE60;
}

.contacts-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.contacts-info i{
  color: #27AE60;
  display: inline;
  margin-right: 10px;
}

.contacts-info p{
  display: inline;
  font-size: 20px;
  color: #979797;
}

.contacts-info a{
  display: block;
  font-size: 20px;
  color: #222222;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 40px;
}

.contacts-content-left{
  width: 65%;
}

.contacts-checkbox{
  margin-top: 25px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.contacts-checkbox label{
  font-size: 16px;
  font-weight: 300;
  color: #7C7C7C;
  margin-left: 5px;
}


.contacts-checkbox input{
  margin-left: 7px;
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 7px;
  border: 1px solid #CBCCCF;
  box-sizing: border-box;
  border-radius: 1px;
  margin-right: 10px;
}

.contacts-checkbox input:hover{
  border: 1px solid #CBCCCF;
}

.contacts-form button{
  margin: auto;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  width: 55%;
  color: white;
  background-color: #27AE60;
}

#message_errors, #username_errors, #phone_number_errors, #email_errors, #terms_accepted_errors{
  color: #902b2b;
  margin-bottom: 5px;
}


#dots .glider-dot{
  margin: 0 5px;
}

#dots{
  margin: 0;
}

.card-controls{
  display: flex;
  justify-content: center;
}

.feedback-background{
  overflow: hidden;
}

.form-sent-text {
  color: #27AE60;
  margin-top: 50px;
}

.about-text{
  width: 50%;
}
@media (max-width: 1000px) {
  .about-text{
    width: 100%;
  }
  .main_picture {
    flex-direction: column;
  }

  .idea-tab-active + iframe {
    display: block;
  }

  .idea-iframe {
    display: none;
  }

  .idea-tabs-top {
    flex-direction: column;
    padding-right: 10px;
  }

  .idea {
    padding: 0 5%;
  }

  .idea-tab {
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .idea-tab-wrapper {
    width: 100%;
  }

  .idea-tab-wrapper iframe {
    width: calc(100% + 10px);
    height: 50vw;
    border: none;
    margin-right: -10px;
    margin-bottom: 20px;
  }

  .about {
    flex-direction: column-reverse;
    padding: 0 5%;
  }

  .about img {
    width: 100%;
  }

  .main-picture-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-picture-img {
    width: 100%;
    margin: auto;
  }

  .main-picture-img-second{
    position: absolute;
    right: 17vw;
    width: 25vw;
    top: 83%;
  }

  .news-card {
    width: 100%;
    margin-bottom: 30px;
  }

  .news-card img {
    display: none;
  }

  .news-cards {
    flex-direction: column;
  }

  .feedback, .news, .contacts {
    padding: 20px 5%;
  }

  .contacts h1 {
    margin-top: 30px;
  }

  .contacts-content {
    flex-direction: column;
  }

  .contacts-info {
    flex-direction: column;
  }

  .contacts-content form, .contacts-content-left {
    width: 100%;
  }

  .apple-store {
    margin-left: 5px;
  }

  .google-play {
    margin-right: 5px;
  }

  .news h1 {
    margin-top: 30px;
  }

  .contacts-content form h3 {
    margin-top: 30px;
  }

  .main-picture h1 sup {
    font-weight: 800;
    margin-left: 10px;
    color: #27AE60;
    vertical-align: 25px;
  }

  .feedback-cards, .glider{
    scrollbar-width: none;
  }

  .feedback-cards::-webkit-scrollbar {
    display: none;
  }

  .big-circle {
    position: absolute;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    background: rgba(164, 235, 194, 0.4);
    z-index: 1;
    right: -6%;
    bottom: -25%;
  }

  .middle-circle {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: rgba(164, 235, 194, 0.4);
    z-index: 1;
    left: -5%;
    top: 0;
  }

  .small-circle {
    position: absolute;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: rgba(164, 235, 194, 0.4);
    z-index: 1;
    right: 45%;
    top: 35%;
  }

  .feedback-card img{
    height: 55vw;
  }
}